:root {
	--main-fg-color: black;
	--main-bg-color: white;
	--flex-bg-color: rgb(83, 131, 236); 
	/* --main-bg-color: rgb(180, 180, 236); */
	--main-element-bg-color: rgb(255, 255, 255);
	--code-bg-color: rgb(205, 230, 255);
	--gx-color: rgb(66, 133, 244);
	--header-height: 50px;
	--footer-height: 14px;
}

html {
	height: 100vh;
}

code {
	background: var(--code-bg-color);
	font-size: 14px;
}

h1 {
	margin: 10pt 0 10pt 0;
}

h2 {
	margin: 0 0 0 0;
}

pre {
	margin: 2px;
	background: var(--code-bg-color);
}

p {
	margin: 14pt 0 0 0;
	padding: 0;
}

ul {
	margin: 1px;
}


.main_root {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1px;
	background: var(--flex-bg-color);
	height: calc(100vh - var(--header-height) - var(--footer-height));
	flex-grow: 0;
}

header {
	margin-bottom: 0;
	padding: 0;
	background: var(--gx-color);
	color: var(--main-bg-color);
	height: var(--header-height);
	font-size: 35px;
}
 
footer {
	margin-bottom: 0;
	padding: 0;
	color: var(--main-fg-color);
	height: var(--footer-height);
	font-size: 12px;
}

.body_root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	font-family: "Noto Sans";
	font-size: 16px;
	background: var(--main-bg-color);
	color: var(--main-fg-color);
	padding: 0px;
	margin: 0px;
  	display: flex;
}

#editor { 
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--code-bg-color);
}

.code_container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-width: 0;
}

.code_source_container {
	background: var(--main-element-bg-color);
	flex-direction: column-reverse;
}

.code_source_textinput_container {
	height: 80%;
	background: var(--code-bg-color);
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
	resize: vertical;
}

.code_source_textinput {
	display: block;
	font-family: monospace, monospace;
	background: var(--code-bg-color);
	border: 0; 
    	outline: 0;
	padding: 2px;
	white-space: nowrap;
	min-width: 0;
}

.code_source_controls_container {
	display: flex;
	flex-direction: row-reverse;
}

.code_output_container {
	background: var(--main-element-bg-color);
	height: 20%;
	flex-grow: 1;
	min-height: 0;
	overflow-x: auto;
	overflow-y: auto;
}

.code_output_list {
	padding-left: 1.5em;
	margin: 0 0 0 0;
}

.lesson_container {
	display: flex;
	flex-direction: column;
	background: var(--main-element-bg-color);
	width: 50vw;
	flex-shrink: 0;
	resize: horizontal;
	overflow: auto;
	/* Hide the outline when receiving keyboard event */
	outline: none;
	outline-width: 0;
	box-shadow: none;
}

.lesson_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	overflow-y: auto;
	margin: 1em;
}

.lesson_config {
	display: block;
	justify-content: left;
}

.lesson_navigation {
	display: flex;
	font-size: 150%;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	margin: 0em;
}

.navigation_button {
	cursor: pointer;
	font-size: 150%;
	vertical-align: middle;
	border: none;
	background-color: transparent;
}

